*{
    margin:0px;
    padding:0px;
}
:root{
    --bg-color:#808080;
    --container-color:#282727;
    --display-color:#aaaaaa;
}

/*Essentials*/
.btn{
    font-size: 1.7em;
    padding:10px 30px;
}


body{
    background-color: var(--bg-color);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.calculator{ 
    position: relative; 
    background-color: var(--container-color);  
    width:500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:30px;    
    box-shadow: 0 0 5px 5px #ddd;          
}



.container{
    width:100%;
    padding:30px;
}

.display{
    margin-bottom: 5px;
    border:2px white solid; 
    box-shadow: 10px white;
}

.display p{
    background-color: var(--display-color);
    display:flex;
    flex-flow: row-reverse;
    padding:5px;
    min-height: 30px;
    font-size: 1.3em;
}
.display-up{
    border-bottom:2px dashed white;
}

.clear{   
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-bottom: 5px;
    
}

.numbers-ops{     
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 5px;
}

